.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}

@media all and (max-width: 576px) {
    .search-title {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.btn {
    background-color: #0168D9;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link-current {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #dee2e6;
    background-color: #fff;
    border: 1px solid #007bff;
}

.error-message-container {
    border: rgb(150, 2, 2) solid 2px;
    background: rgb(216, 163, 163);
    color: rgb(150, 2, 2);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.default-message-container {
    background: lightblue;
    margin-top: 100px;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}